html {
    --grey1 : #676f77;
    --grey2 : #91a1bb;
    --grey3 : #444a5d;
    --white-bg1 : #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    
}
body, html {
    /* color: #596178; */
    color : var(--grey3);
    /* background-color: #ffffff; */
    background-color: aliceblue;
    background-color: #f4f7ff;
    background-color: hsl(224deg 100% 99%);
    /* background-color: #f4f8fb; */
    font-size: 0.96rem;
    font-weight: 500;
    /* font-family: 'Montserrat', sans-serif; */

}
#main-wrapper {
    opacity: 0;
    transition: all 0.25s ease-in;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-top: 90px;
}
#main-wrapper.show {
    opacity: 1;
}
.header {
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 120px;
    right: 0;
    z-index: 02;
    background: #3874f6;
}
.header-title b{
    margin: 0px;
}
.header-title, .header-link, .header-title a, .header-link a {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .header {
        left: 0;
        padding: 10px 0px;
   }
}
.header .brand-logo {
    margin-top: 0px;
    /* padding-right: 20px; */
    border-radius: 5px;
}
.header .brand-logo img {
    filter: none;
    width: 22px;
    margin-right: 5px;
}
.header .brand-logo span {
    font-weight: bold;
    text-transform: uppercase;
    color: #556ee6;
    display: inline-block;
    position: relative;
    top: 3px;
    font-size: 20px;
}
@media only screen and (max-width: 767px) {
    .header .brand-logo {
        display: block;
   }
    .header .brand-logo span {
        display: none;
   }
}
.header.landing {
    left: 0px;
}
.header.landing a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header.landing .brand-logo {
    display: block;
}
.header.landing .brand-logo img {
    margin-right: 10px;
}
.header.landing .brand-logo span {
    display: block;
    top: 0;
}
.header-content, .header-left, .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar {
    background: #1830a3;
    background-color: #ffffff;
    position: fixed;
    left: 0px;
    height: calc(100%-20px);
    width: 120px;
    top: 0px;
    z-index: 999;
    bottom: 0px;
    /* border-radius: 15px; */
    /* box-shadow: 0px 0px 2px 0px #333436; */
    box-shadow: 2px 0px 2px 0px #33343617;
   
}
.sidebar li a {
    color : #636363;
}
@media only screen and (max-width: 767px) {
    .sidebar {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 50px;
        left: 0;
        border-radius: 0px;
        box-shadow: 5px 5px 9px 0px #463f3f;
   }
   #main-wrapper {
    padding-top: 60px;
   }
}
.brand-logo {
    text-align: center;
    /* margin-top: 30px; */
    background: #033aaf;
    padding: 15.5px 0px;
}
.brand-logo img {
    max-width: 35px;
   /* filter: brightness(100);
    */
}
@media only screen and (max-width: 767px) {
    .brand-logo {
        display: none;
   }
}
.menu {
    margin-top: 60px;
}
@media only screen and (max-width: 767px) {
    .menu {
        margin-top: 0px;
   }
}
@media only screen and (max-width: 767px) {
    .menu ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
   }
}
.menu ul li {
    text-align: center;
}
.menu ul li .small {
    font-size: .650em;
}
.menu ul li a {
    padding: 12px 15px;
    padding: 5px;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 10px;
}
.menu ul li a:hover, .menu ul li a:focus, .menu ul li a:active {
    /* background: rgba(255, 255, 255, 0.1); */
    /* color: #fff; */
    color :#1830a3;
    opacity: 1;
}
.menu ul li a.active {
    /* background: rgba(255, 255, 255, 0.15); */
    color :#1830a3
}
.menu ul li a.active i {
   color :#1830a3;
    opacity: 1;
}
.menu ul li a i {
    color: #fff;
    font-size: 24px;
    opacity: 0.75;
}
.menu ul li.logout {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}
@media only screen and (max-width: 767px) {
    .menu ul li.logout {
        position: relative;
        bottom: 0;
        left: auto;
        right: auto;
   }
}
a {
    color: #556ee6;
    text-decoration: none;
    outline: none;
}
a:hover, a:focus, a.active {
    text-decoration: none;
    outline: none;
    color: #556ee6;
}
.content-body {
    margin-left: 120px;
}
@media only screen and (max-width: 767px) {
    .content-body {
        margin-left: 0px;
        margin-bottom: 50px;
   }
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

.verification-icon{
    color: rgb(171, 148, 18); font-size: 18px;
}


.tabs-container {
    display: flex;
    justify-content: space-between;
    /* gap: 2; */
    overflow-x: auto;

}
.tabs-container::-webkit-scrollbar{
   /* display: none; */
   width: 0 !important;
}
/* .tabs-container::-webkit-scrollbar-track{
   box-shadow: inset 0 0 6px rgba(0,0 , 0, 0.3);
} */
/* .tabs-container::-webkit-scrollbar-thumb{
   background-color: teal;
   outline: 1px solid grey;
   width: 10px;
 } */

 /* .tabs-container::-webkit-scrollbar-track-piece{
    background-color: pink;
    outline: 1px solid grey;
    width: 10px;
  } */

.tabs {
    flex-basis: 100%;
    /* background-color: green; */
    margin: 0px 13px;
    color: #fff;
}
.tab-indicator{
    background: yellow;
    height: 5px;
    width: 20px;
    border-radius: 20px;
    
}
.tabs-container .tabs.active{
    /* background-color: teal; */
    color: #fff;
    font-weight: bold;
}

.tabs-container .tabs.active .indicator{
    background-color: rgb(255, 255, 255);
    height: 4px;
    border-radius: 10px;
    width: 40%;
    display: flex;
    margin: auto;
}
.dataTables_filter{
    display: none;
}
.dataTables_wrapper.dt-bootstrap5 .col-sm-12.col-md-6, .dataTables_wrapper.dt-bootstrap5 .col-sm-12.col-md-5{
    display: none;
}
.paginate_button.page-item.next a, .paginate_button.page-item.previous a{
    white-space: nowrap;
    display: inline-block;
    font-size: smaller;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: transparent !important;
    border: none !important;
    padding: none !important;
}
.page-link{
    display: flex;
    justify-content: center;
    font-size: smaller;
}
.withdrawal-form{
    font-weight: 500;
}
.withdrawal-form label {
    font-size: 0.8rem;
    font-weight: 600;
}
.withdrawal-form input {
    font-size: 0.8rem;
    font-weight: 500;
}

.trade-options{
    flex-wrap: nowrap;
}
.trade-options  .nav-link{
    color: #fff;
    border-top-left-radius : 0px;
    border-top-right-radius : 0px;
    margin-bottom : 0px;
}
.trade-options-cont{
    overflow-x: scroll;
    
}
.trade-options-cont::-webkit-scrollbar{
        display: none;
        /* width: 0 !important; */
     }
.trade-options-cont .nav-pills .nav-item.show .nav-link, .trade-options-cont .nav-pills .nav-link.active{
    background: none !important;
    color: #fff;
    border: none !important;
    outline: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trade-options-cont .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active::after{
   content: "";
   height: 3px;
   width: 60%;
   background-color: #fff;
   border-radius: 10px;;
}
.nav-pills .nav-link:focus, .nav-pills .nav-link:hover{
    border: none !important;
    outline: none !important;
}
.nav-item {
    /* border: 1px solid red; */
}
.news-options-cont{

}
.news-options-cont .nav-link{
    color: initial;
}

.news-options-cont .nav-pills .nav-item.show .nav-link, .news-options-cont .nav-pills .nav-link.active{
    background: none !important;
    color: #0d6efd;
    border: none !important;
    outline: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news-options-cont .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active::after{
   content: "";
   height: 3px;
   width: 60%;
   /* background-color: #fff; */
   border-radius: 10px;;
}
.news-caption {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-weight: 600;
    padding: 10px;
    /* font-size: 18px; */
}
.news-caption .date {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 10px;
}
.news-card{
    min-height: 180px;
    background-size: cover;
}
.trade-spread{
    font-size: 12px;
}
.flag-cont {
    position: relative;
    width: 23px;
    height: 23px;
}








.flag-cont img {
    height: 15px;
    width: 15px;
}
.flag-cont :nth-child(1){
    position: absolute;
    left: 0;
    top: 0;

}
.flag-cont :nth-child(2){
    position: absolute;
    right: 0;
    bottom: 0;
}

.rise{
    font-weight: bold;
}
.trade .row{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
    /* background: red; */
}
.card-header {
    background: #f4f8ff;
    background: #fff;

}
.card-header h4, .card-header h5, .card-header h6 {
    margin: 0px;
}   

.card {
    background: #f8f8f8;
    background: #fff;
    border: none;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 20%);
    box-shadow: 0 0 2rem 4px rgb(0 0 0 / 3%);
}
.text-content {
    font-size: 1rem;
    font-weight: 600;
}
.card-amount{
    font-weight: 600;
}
.text-label{
    font-size: 0.94rem;
}
.activity-item{
 /* color: #556ee6; */
 color : var(--grey3);
 text-decoration: none;

}
.activity-item:hover{
    cursor: pointer;
}
.copy-referral-link{
    font-weight: 600;
}
.copy-referral-link:hover{
    cursor: pointer;
}
.referral-pill {
    
    background: aliceblue;
    color: #52595e;
    border-radius: 50px;
    padding: 5px 10px;
   

}
.share-referral-button{
    font-size: 0.9rem;
    position: relative;
}
.share-referral-button .material-icons{
    font-size: 20px;
    position: absolute;
    left: 10px;
    /* display: flex; */
}

.profile-info{
    background-color: #f9fafe;
    /* background-color: #fff; */
    padding: 10px;
    border-radius: 5px;
}




.profile .labels {
    font-size: 15px;
    margin-top: 10px;
}


.profile .form-control:disabled{
    background: #fff;
}

#transaction-mode-modal .form-check-label{
    font-size : 1.1rem;
}
.deposit-copy-address:hover{
    cursor: pointer;
}